<html>
  <head>
    <title>The wheel of blame</title>
    <style>
      body {
        text-align: center;
        font-size: 36px;
        font-family: Helvetica, Arial, sans-serif;
      }

      div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      p {
       font-size: 64px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
